<div class="ContentWrapper outLine">
		<div class="content outLine">
			<div class="HotSpotContainer">
			<dl class="TodayContent">
			<dd class="row1">
				<div class="title">
					<a href="https://baike.baidu.com/item/6%C2%B717%E9%95%BF%E5%AE%81%E5%9C%B0%E9%9C%87/23574011" target="blank"><span>6·17长宁地震</span></a>
				</div>
				<div class="description">
					<span>四川宜宾市长宁县发生6.0级地震，截止6月18日8时30分，地震已造成12人死亡，125人受伤。</span>
				</div>
			</dd>
			<dd class="row2">
				<div class="title">
					<span>中国国家女子足球队</span>
				</div>
				<div class="description">中国队0比0战平西班牙，以4个积分成为成绩最好的小组第三名之一，成功晋级16强。</div>
			</dd>
			<dd class="row3left">
				<div class="title">
					<span>沪伦通</span>
				</div>
				<div class="description">沪伦通在英国伦敦正式启动</div>
			</dd>
			<dd class="row3right">
				<div class="title">
					<span>默罕默德·穆尔西</span>
				</div>
				<div class="description">埃及前总统穆尔西在首都开罗去世，终年67岁。</div>
			</dd>
			<dd class="row4left">
				<div class="title">
					<span>超级计算机</span>
				</div>
			</dd>
			<dd class="row4right">
				<div class="title">
					<span>“科学”号</span>
				</div>
			</dd>
			<dd class="row5left">
				<div class="title">
					<span>中国铁路公司</span>
				</div>
			</dd>
			<dd class="row5right">
				<div class="title">
					<span>最美奋斗者</span>
				</div>
			</dd>
			</dl>
		</div>
		<div class="SecondContainer outLine" >
			 <nz-carousel [nzEffect]="effect">
			      <div nz-carousel-content *ngFor="let index of array">
			        <h3>{{ index }}</h3>
			      </div>
			   </nz-carousel>
		</div>
		<div class="ThirdContainer outLine">
		</div>
		</div>
		
		<div class="ButtonRow outLine">
			<a href="http://localhost:4200/test"><button nz-button nzType="primary">Test</button>
			</a>

</div>
